/* ContactForm.css */
.modal-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .modal-header {
    border-bottom: none;
  }
  
  .modal-body {
    padding: 2rem;
  }
  
  .form-control {
    border: 1px solid #ced4da;
  }
  
  button[type="submit"] {
    background-color: #5cb85c;
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
  }
  
  button[type="submit"]:hover {
    background-color: #4cae4c;
  }
  