@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-left: 5px;
  font-size: 32px;
  font-weight: bold;
  color: darkgreen;
  text-decoration: none;
  font-family: 'Lobster', cursive;
}

/* Desktop/Laptop view options */
.navbar-options {
  display: flex;
  gap: 15px;
  align-items: center;
}

.contact-us-btn {
  padding: 8px 15px;
}

.login-btn, .signup-btn {
  padding: 5px 20px;
  margin-left: 10px; /* Space between login and sign up */
}

.navbar-toggler {
  display: none;
}

/* Sidebar Styles for Mobile */
.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  height: 100%;
  width: 250px;
  background-color: #ffffff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  right: 0;
}

.nav-item {
  margin-bottom: 20px;
}

.sidebar-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
    border: none;
    background: none;
  }

  .navbar-options {
    display: none; /* Hide desktop options in mobile view */
  }

  .logo-container img {
    width: 100px;
    height: auto;
  }

  .navbar-brand {
    font-size: 24px;
  }

  .sidebar {
    display: none;
  }

  .sidebar.open {
    display: flex;
  }
}
